{
  "openapi": "3.0.1",
  "info": {
    "title": "Intervals.icu API",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://intervals.icu",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "APIKey": [],
      "AccessToken": []
    }
  ],
  "paths": {
    "/api/v1/athlete/{id}/events/{eventId}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get an event (planned workout, note etc.)",
        "operationId": "showEvent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Events"
        ],
        "summary": "Update an event (planned workout, note etc.)",
        "operationId": "updateEvent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventEx"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Events"
        ],
        "summary": "Delete an event (planned workout, notes etc.) from an athlete's calendar",
        "operationId": "deleteEvent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "others",
            "in": "query",
            "description": "If true then other events added at the same time are also deleted",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "notBefore",
            "in": "query",
            "description": "Do not delete other events on the calendar before this local date (ISO-8601)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/athlete/{id}/events/bulk-delete": {
      "put": {
        "tags": [
          "Events"
        ],
        "summary": "Delete events from an athlete's calendar by id or external_id",
        "description": "Delete events by id or by external_id. If external_id is supplied then the event must have been created by the calling OAuth application. If both id and external_id are supplied then external_id is used. Events that do not exist are ignored.",
        "operationId": "deleteEventsBulk",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DoomedEvent"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteEventsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/athlete/{id}/events": {
      "put": {
        "tags": [
          "Events"
        ],
        "summary": "Update all events for a date range at once. Only hide_from_athlete and athlete_cannot_edit can be updated",
        "operationId": "updateEvents",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oldest",
            "in": "query",
            "description": "Local date (ISO-8601) of oldest event to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "newest",
            "in": "query",
            "description": "Local date (ISO-8601) of newest event to update (inclusive)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Event"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Create an event (planned workout, note etc.) on the athlete's calendar",
        "description": "This endpoint accepts workouts in native Intervals.icu format ('description' field) as well as zwo, mrc, erg and fit files (use 'file_contents' or 'file_contents_base64')",
        "operationId": "createEvent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upsertOnUid",
            "in": "query",
            "description": "Update event with matching uid instead of creating a new one",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventEx"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Events"
        ],
        "summary": "Delete a range of events (planned workouts, notes etc.) from the athlete's calendar",
        "operationId": "deleteEvents",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oldest",
            "in": "query",
            "description": "Local date (ISO-8601) of oldest event to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "newest",
            "in": "query",
            "description": "Local date (ISO-8601) of newest event to delete (inclusive, default is all future events)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdById",
            "in": "query",
            "description": "If provided only events created by this athlete (created_by_id field) are deleted",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Comma separated list of event categories to delete (e.g. WORKOUT)",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/athlete/{id}/events/{eventId}/mark-done": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Create a manual activity to match a planned workout",
        "operationId": "markEventAsDone",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Activity"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/athlete/{id}/events/bulk": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Create multiple events (planned workouts, notes etc.) on the athlete's calendar",
        "description": "This endpoint accepts workouts in native Intervals.icu format ('description' field) as well as zwo, mrc, erg and fit files (use 'file_contents' or 'file_contents_base64')",
        "operationId": "createMultipleEvents",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upsert",
            "in": "query",
            "description": "Update events with matching external_id and created by the same OAuth application instead of creating new ones",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "upsertOnUid",
            "in": "query",
            "description": "Update events with matching uid instead of creating new ones, ignored if upsert=true. For Events with category=TARGET existing matching targets for the date and type are updated",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "updatePlanApplied",
            "in": "query",
            "description": "Give all events created or updated the same new plan_applied date (now)",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EventEx"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/athlete/{id}/events/apply-plan": {
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "applyPlan",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplyPlanDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/athlete/{id}/duplicate-events": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Duplicate one or more events (planned workouts, notes etc.) on the athlete's calendar",
        "operationId": "duplicateEvents",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DuplicateEventsDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/athlete/{id}/workouts.zip": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Download one or more workouts from the athlete's calendar in a zip file",
        "operationId": "downloadWorkouts",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ext",
            "in": "query",
            "description": "Format: zwo, mrc, erg or fit",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oldest",
            "in": "query",
            "description": "Local date (ISO-8601) of oldest workout",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "newest",
            "in": "query",
            "description": "Local date (ISO-8601) of newest workout (inclusive)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "powerRange",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "hrRange",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "paceRange",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/athlete/{id}/fitness-model-events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List events that influence the athlete's fitness calculation in ascending date order",
        "description": "These have category FITNESS_DAYS (days for fitness and fatigue), SET_FITNESS (set starting fitness and fatigue) and SET_EFTP (set eFTP)",
        "operationId": "listFitnessModelEvents",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/athlete/{id}/events/{eventId}/download{ext}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Download a planned workout in zwo, mrc, erg or fit format",
        "operationId": "downloadWorkout_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ext",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/athlete/{id}/event-tags": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List all tags that have been applied to events on the athlete's calendar",
        "operationId": "listTags_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/athlete/{id}/events{format}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List events (planned workouts, notes etc.) on the athlete's calendar, add .csv for CSV output",
        "operationId": "listEvents",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oldest",
            "in": "query",
            "description": "Local date (ISO-8601) for oldest event to return, default is today in the athletes timezone",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "newest",
            "in": "query",
            "description": "Local date (ISO-8601) for newest event to return (inclusive), default is oldest plus 6 days",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Comma separated list of categories to filter for (e.g. WORKOUT,NOTES)",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max number of events to return (default is all events)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "calendar_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ext",
            "in": "query",
            "description": "Convert workouts to this format (zwo, mrc, erg or fit) and add workout_filename and workout_file_base64 to workout object",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "powerRange",
            "in": "query",
            "description": "Percentage used to convert fixed power targets into a range for outdoor workouts only (default is 2.5 or whatever is configured in the Garmin box in /settings)",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "hrRange",
            "in": "query",
            "description": "Percentage used to convert fixed HR targets into a range (default is 1.5 or whatever is configured in the Garmin box in /settings)",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "paceRange",
            "in": "query",
            "description": "Percentage used to convert fixed pace targets into a range (default is 2.5 or whatever is configured in the Garmin box in /settings)",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Locale (en, es, de etc.) to use for workouts with steps in multiple languages",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resolve",
            "in": "query",
            "description": "Resolve power, heart rate and pace targets to watts, bpm and m/s respectively",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AthleteSearchResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "profile_medium": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "sex": {
            "type": "string"
          },
          "bio": {
            "type": "string"
          },
          "website": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "Workout": {
        "type": "object"
      },
      "EventEx": {
        "type": "object"
      },
      "Event": {
        "type": "object"
      },
      "DoomedEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "external_id": {
            "type": "string"
          }
        }
      },
      "DeleteEventsResponse": {
        "type": "object",
        "properties": {
          "eventsDeleted": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "Activity": {
        "type": "object"
      },
      "ApplyPlanDTO": {
        "type": "object",
        "properties": {
          "start_date_local": {
            "type": "string"
          },
          "folder_id": {
            "type": "integer",
            "format": "int32"
          },
          "extra_workouts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Workout"
            }
          }
        }
      },
      "DuplicateEventsDTO": {
        "type": "object",
        "properties": {
          "numCopies": {
            "type": "integer",
            "format": "int32"
          },
          "weeksBetween": {
            "type": "integer",
            "format": "int32"
          },
          "eventIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      },
      "NewCustomItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "athlete_id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "FITNESS_CHART",
              "TRACE_CHART",
              "INPUT_FIELD",
              "ACTIVITY_FIELD",
              "INTERVAL_FIELD",
              "ACTIVITY_STREAM",
              "ACTIVITY_CHART",
              "ACTIVITY_HISTOGRAM",
              "ACTIVITY_HEATMAP",
              "ACTIVITY_MAP",
              "ACTIVITY_PANEL",
              "ZONES"
            ]
          },
          "visibility": {
            "type": "string",
            "enum": [
              "PRIVATE",
              "FOLLOWERS",
              "PUBLIC"
            ]
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "content": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          },
          "usage_count": {
            "type": "integer",
            "format": "int32"
          },
          "index": {
            "type": "integer",
            "format": "int32"
          },
          "hide_script": {
            "type": "boolean"
          },
          "hidden_by_id": {
            "type": "string"
          },
          "updated": {
            "type": "string",
            "format": "date-time"
          },
          "from_athlete": {
            "$ref": "#/components/schemas/AthleteSearchResult"
          },
          "from_id": {
            "type": "integer",
            "format": "int32"
          },
          "required_items_created": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NewCustomItem"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "APIKey": {
        "type": "http",
        "description": "Username is API_KEY, Password is your API key found in /settings",
        "scheme": "basic"
      },
      "AccessToken": {
        "type": "http",
        "description": "Use bearer token for an athlete from OAuth flow",
        "scheme": "bearer"
      }
    }
  }
}