{
  "openapi": "3.0.1",
  "info": {
    "title": "Intervals.icu API",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://intervals.icu",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "APIKey": [],
      "AccessToken": []
    }
  ],
  "paths": {
    "/api/v1/activity/{id}/streams.csv": {
      "put": {
        "tags": [
          "Activities"
        ],
        "summary": "Update streams for the activity from CSV",
        "description": "Column headers for streams to be updated must match those returned from the /streams.csv endpoint",
        "externalDocs": {
          "description": "Forum post",
          "url": "https://forum.intervals.icu/t/download-and-upload-activity-streams-csv/114377"
        },
        "operationId": "uploadActivityStreamsCSV",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {},
            "application/json": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Activity streams CSV file",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateStreamsResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activity/{id}/streams": {
      "put": {
        "tags": [
          "Activities"
        ],
        "summary": "Update streams for the activity from JSON",
        "externalDocs": {
          "description": "Forum post",
          "url": "https://forum.intervals.icu/t/download-and-upload-activity-streams-csv/114377"
        },
        "operationId": "updateActivityStreams",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ActivityStream"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateStreamsResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activity/{id}/split-interval": {
      "put": {
        "tags": [
          "Activities"
        ],
        "summary": "Split an interval",
        "operationId": "splitInterval",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "splitAt",
            "in": "query",
            "description": "Index to split interval at",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IntervalsDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activity/{id}/intervals/{intervalId}": {
      "put": {
        "tags": [
          "Activities"
        ],
        "summary": "Update/create an interval",
        "operationId": "updateInterval",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "intervalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Interval"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IntervalsDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activity/{id}/intervals": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get activity intervals",
        "operationId": "getIntervals",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IntervalsDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Activities"
        ],
        "summary": "Update intervals for an activity",
        "operationId": "updateIntervals",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "all",
            "in": "query",
            "description": "Any existing intervals are replaced, otherwise a merge is done",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Interval"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IntervalsDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activity/{id}/delete-intervals": {
      "put": {
        "tags": [
          "Activities"
        ],
        "summary": "Delete intervals",
        "operationId": "deleteIntervals",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Interval"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IntervalsDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activity/{id}": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get an activity",
        "description": "An empty stub object is returned for Strava activities",
        "operationId": "getActivity",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "intervals",
            "in": "query",
            "description": "Include interval data",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Activity"
                    },
                    {
                      "$ref": "#/components/schemas/ActivityWithIntervals"
                    },
                    {
                      "$ref": "#/components/schemas/Hidden"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Activities"
        ],
        "summary": "Update activity",
        "description": "Strava activities cannot be updated",
        "operationId": "updateActivity",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Activity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Activity"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Activities"
        ],
        "summary": "Delete an activity",
        "operationId": "deleteActivity",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityId"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/athlete/{id}/download-fit-files": {
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Download zip of Intervals.icu generated activity fit files",
        "description": "Strava activities are not included",
        "operationId": "downloadActivityFitFiles",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "power",
            "in": "query",
            "description": "Include power data",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "hr",
            "in": "query",
            "description": "Include heart rate data",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Activity id's to download",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/athlete/{id}/activities/manual/bulk": {
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Create multiple manual activities with upsert on external_id",
        "description": "Existing activities with matching external_id, created by the same OAuth application are updated. Activities created/updated are returned. Activities with no external_id are always created.",
        "operationId": "createMultipleManualActivities",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Activity"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Activity"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/athlete/{id}/activities/manual": {
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Create a manual activity",
        "operationId": "createManualActivity",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Activity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Activity"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/athlete/{id}/activities": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "List activities for a date range in desc date order",
        "description": "An empty stub object is returned for Strava activities",
        "operationId": "listActivities",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oldest",
            "in": "query",
            "description": "Local ISO-8601 date or date and time e.g. 2019-07-22T16:18:49 or 2019-07-22",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "newest",
            "in": "query",
            "description": "Local ISO-8601 date or date and time, defaults to now",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "route_id",
            "in": "query",
            "description": "Only return activities on this route",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Return at most this many activities",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma separated list of field names to include in the returned objects (default is all), also excludes null values",
            "required": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Activity"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Create new activities from an uploaded file (fit, tcx, gpx or zip or gz of the same) as multipart/form-data",
        "description": "Use the 'file' form parameter to supply the uploaded file. Multisport files are split into multiple activities. Activities are de-duped using a hash of the file. Response code is 201 if at least one new activity was created and 200 otherwise (all dups).",
        "operationId": "uploadActivity",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Activity name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "description": "Activity description",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "device_name",
            "in": "query",
            "description": "Device the activity was created on e.g. Garmin Edge 540",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "external_id",
            "in": "query",
            "description": "ID of the activity on the system it came from",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paired_event_id",
            "in": "query",
            "description": "Workout to pair with activity",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {},
            "application/json": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Activity file",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/athlete/{id}/power-hr-curve": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get the athlete's power vs heart rate curve for a date range",
        "operationId": "getPowerHRCurve",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Starting local date (ISO-8601)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Ending local date (ISO-8601), inclusive",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PowerHRCurve"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/athlete/{id}/power-curves{ext}": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "List best power curves for the athlete",
        "description": "Curves are specified as follows: 1y (past year), 2y (past 2 years) etc., 42d (past 42 days) etc., s0 (current season), s1 (previous season) etc., all (all time), r.2023-10-01.2023-10-31 (date range). Curves can also have a -kj0 or -kj1 suffix to return fatigued curves. If several of f1, f2 and f3 filter parameters are specified then each curve is returned once for each filter, for comparing curves.",
        "operationId": "listAthletePowerCurves",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ext",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "newest",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "curves",
            "in": "query",
            "description": "Comma separated list of curves to return (default last year)",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The sport (Ride, Run etc.). If filters is not provided or is blank or does not contain a type filter then activities for the types of the sport matching this parameter are included",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "Ride",
                "Run",
                "Swim",
                "WeightTraining",
                "Hike",
                "Walk",
                "AlpineSki",
                "BackcountrySki",
                "Badminton",
                "Canoeing",
                "Crossfit",
                "EBikeRide",
                "EMountainBikeRide",
                "Elliptical",
                "Golf",
                "GravelRide",
                "TrackRide",
                "Handcycle",
                "HighIntensityIntervalTraining",
                "Hockey",
                "IceSkate",
                "InlineSkate",
                "Kayaking",
                "Kitesurf",
                "MountainBikeRide",
                "NordicSki",
                "OpenWaterSwim",
                "Padel",
                "Pilates",
                "Pickleball",
                "Racquetball",
                "Rugby",
                "RockClimbing",
                "RollerSki",
                "Rowing",
                "Sail",
                "Skateboard",
                "Snowboard",
                "Snowshoe",
                "Soccer",
                "Squash",
                "StairStepper",
                "StandUpPaddling",
                "Surfing",
                "TableTennis",
                "Tennis",
                "TrailRun",
                "Transition",
                "Velomobile",
                "VirtualRide",
                "VirtualRow",
                "VirtualRun",
                "VirtualSki",
                "WaterSport",
                "Wheelchair",
                "Windsurf",
                "Workout",
                "Yoga",
                "Other"
              ]
            }
          },
          {
            "name": "includeRanks",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "subMaxEfforts",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "now",
            "in": "query",
            "description": "Current local date (ISO-8601)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pmType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "MS_2P",
                "MORTON_3P",
                "FFT_CURVES",
                "ECP"
              ]
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Only consider activities matching all the filters in this list",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ActivityFilter"
              }
            }
          },
          {
            "name": "f1",
            "in": "query",
            "description": "If set each curve is returned with these filters applied to compare curves",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ActivityFilter"
              }
            }
          },
          {
            "name": "f2",
            "in": "query",
            "description": "If set each curve is returned with these filters applied to compare curves",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ActivityFilter"
              }
            }
          },
          {
            "name": "f3",
            "in": "query",
            "description": "If set each curve is returned with these filters applied to compare curves",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ActivityFilter"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DataCurveSetPowerCurve"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/athlete/{id}/pace-curves{ext}": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "List best pace curves for the athlete",
        "description": "Curves are specified as follows: 1y (past year), 2y (past 2 years) etc., 42d (past 42 days) etc., s0 (current season), s1 (previous season) etc., all (all time), r.2023-10-01.2023-10-31 (date range). If several of f1, f2 and f3 filter parameters are specified then each curve is returned once for each filter, for comparing curves.",
        "operationId": "listAthletePaceCurves",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ext",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "newest",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "curves",
            "in": "query",
            "description": "Comma separated list of curves to return (default last year)",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The sport (Ride, Run etc.). If filters is not provided or is blank or does not contain a type filter then activities for the types of the sport matching this parameter are included",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Ride",
                "Run",
                "Swim",
                "WeightTraining",
                "Hike",
                "Walk",
                "AlpineSki",
                "BackcountrySki",
                "Badminton",
                "Canoeing",
                "Crossfit",
                "EBikeRide",
                "EMountainBikeRide",
                "Elliptical",
                "Golf",
                "GravelRide",
                "TrackRide",
                "Handcycle",
                "HighIntensityIntervalTraining",
                "Hockey",
                "IceSkate",
                "InlineSkate",
                "Kayaking",
                "Kitesurf",
                "MountainBikeRide",
                "NordicSki",
                "OpenWaterSwim",
                "Padel",
                "Pilates",
                "Pickleball",
                "Racquetball",
                "Rugby",
                "RockClimbing",
                "RollerSki",
                "Rowing",
                "Sail",
                "Skateboard",
                "Snowboard",
                "Snowshoe",
                "Soccer",
                "Squash",
                "StairStepper",
                "StandUpPaddling",
                "Surfing",
                "TableTennis",
                "Tennis",
                "TrailRun",
                "Transition",
                "Velomobile",
                "VirtualRide",
                "VirtualRow",
                "VirtualRun",
                "VirtualSki",
                "WaterSport",
                "Wheelchair",
                "Windsurf",
                "Workout",
                "Yoga",
                "Other"
              ]
            }
          },
          {
            "name": "includeRanks",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "subMaxEfforts",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "now",
            "in": "query",
            "description": "Current local date (ISO-8601)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gap",
            "in": "query",
            "description": "Return gradient adjusted pace curves",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "pmType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "CS"
              ]
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Only consider activities matching all the filters in this list",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ActivityFilter"
              }
            }
          },
          {
            "name": "f1",
            "in": "query",
            "description": "If set each curve is returned with these filters applied to compare curves",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ActivityFilter"
              }
            }
          },
          {
            "name": "f2",
            "in": "query",
            "description": "If set each curve is returned with these filters applied to compare curves",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ActivityFilter"
              }
            }
          },
          {
            "name": "f3",
            "in": "query",
            "description": "If set each curve is returned with these filters applied to compare curves",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ActivityFilter"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DataCurveSetPaceCurve"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/athlete/{id}/mmp-model": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get the power model used to resolve %MMP steps in workouts for the athlete",
        "operationId": "getAthleteMMPModel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "Ride",
                "Run",
                "Swim",
                "WeightTraining",
                "Hike",
                "Walk",
                "AlpineSki",
                "BackcountrySki",
                "Badminton",
                "Canoeing",
                "Crossfit",
                "EBikeRide",
                "EMountainBikeRide",
                "Elliptical",
                "Golf",
                "GravelRide",
                "TrackRide",
                "Handcycle",
                "HighIntensityIntervalTraining",
                "Hockey",
                "IceSkate",
                "InlineSkate",
                "Kayaking",
                "Kitesurf",
                "MountainBikeRide",
                "NordicSki",
                "OpenWaterSwim",
                "Padel",
                "Pilates",
                "Pickleball",
                "Racquetball",
                "Rugby",
                "RockClimbing",
                "RollerSki",
                "Rowing",
                "Sail",
                "Skateboard",
                "Snowboard",
                "Snowshoe",
                "Soccer",
                "Squash",
                "StairStepper",
                "StandUpPaddling",
                "Surfing",
                "TableTennis",
                "Tennis",
                "TrailRun",
                "Transition",
                "Velomobile",
                "VirtualRide",
                "VirtualRow",
                "VirtualRun",
                "VirtualSki",
                "WaterSport",
                "Wheelchair",
                "Windsurf",
                "Workout",
                "Yoga",
                "Other"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PowerModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/athlete/{id}/hr-curves{ext}": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "List best heart rate curves for the athlete",
        "description": "Curves are specified as follows: 1y (past year), 2y (past 2 years) etc., 42d (past 42 days) etc., s0 (current season), s1 (previous season) etc., all (all time), r.2023-10-01.2023-10-31 (date range). If several of the f1, f2 and f3 filter parameters are specified then each curve is returned once for each filter, for comparing curves.",
        "operationId": "listAthleteHRCurves",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ext",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "newest",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "curves",
            "in": "query",
            "description": "Comma separated list of curves to return (default last year)",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The sport (Ride, Run etc.). If filters is not provided or is blank or does not contain a type filter then activities for the types of the sport matching this parameter are included",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Ride",
                "Run",
                "Swim",
                "WeightTraining",
                "Hike",
                "Walk",
                "AlpineSki",
                "BackcountrySki",
                "Badminton",
                "Canoeing",
                "Crossfit",
                "EBikeRide",
                "EMountainBikeRide",
                "Elliptical",
                "Golf",
                "GravelRide",
                "TrackRide",
                "Handcycle",
                "HighIntensityIntervalTraining",
                "Hockey",
                "IceSkate",
                "InlineSkate",
                "Kayaking",
                "Kitesurf",
                "MountainBikeRide",
                "NordicSki",
                "OpenWaterSwim",
                "Padel",
                "Pilates",
                "Pickleball",
                "Racquetball",
                "Rugby",
                "RockClimbing",
                "RollerSki",
                "Rowing",
                "Sail",
                "Skateboard",
                "Snowboard",
                "Snowshoe",
                "Soccer",
                "Squash",
                "StairStepper",
                "StandUpPaddling",
                "Surfing",
                "TableTennis",
                "Tennis",
                "TrailRun",
                "Transition",
                "Velomobile",
                "VirtualRide",
                "VirtualRow",
                "VirtualRun",
                "VirtualSki",
                "WaterSport",
                "Wheelchair",
                "Windsurf",
                "Workout",
                "Yoga",
                "Other"
              ]
            }
          },
          {
            "name": "subMaxEfforts",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "now",
            "in": "query",
            "description": "Current local date (ISO-8601)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Only consider activities matching all the filters in this list",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ActivityFilter"
              }
            }
          },
          {
            "name": "f1",
            "in": "query",
            "description": "If set each curve is returned with these filters applied to compare curves",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ActivityFilter"
              }
            }
          },
          {
            "name": "f2",
            "in": "query",
            "description": "If set each curve is returned with these filters applied to compare curves",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ActivityFilter"
              }
            }
          },
          {
            "name": "f3",
            "in": "query",
            "description": "If set each curve is returned with these filters applied to compare curves",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ActivityFilter"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DataCurveSetHRCurve"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/athlete/{id}/activity-tags": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "List all tags that have been applied to the athlete's activities",
        "operationId": "listTags_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/athlete/{id}/activity-power-curves{ext}": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get best power for a range of durations for matching activities in the date range",
        "description": "Use ext of .csv to get results in CSV format",
        "operationId": "listActivityPowerCurves",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ext",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oldest",
            "in": "query",
            "description": "Local ISO-8601 date or date and time e.g. 2019-07-22T16:18:49 or 2019-07-22",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "newest",
            "in": "query",
            "description": "Local ISO-8601 date or date and time (inclusive)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Only return activities matching all the filters in this list",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ActivityFilter"
              }
            }
          },
          {
            "name": "secs",
            "in": "query",
            "description": "Optional durations to return (default is all, in seconds comma separated)",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The sport (Ride, Run etc.). If filters is not provided or is blank or does not contain a type filter then activities for the types of the sport matching this parameter are included. Required if fatigue is used",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Ride",
                "Run",
                "Swim",
                "WeightTraining",
                "Hike",
                "Walk",
                "AlpineSki",
                "BackcountrySki",
                "Badminton",
                "Canoeing",
                "Crossfit",
                "EBikeRide",
                "EMountainBikeRide",
                "Elliptical",
                "Golf",
                "GravelRide",
                "TrackRide",
                "Handcycle",
                "HighIntensityIntervalTraining",
                "Hockey",
                "IceSkate",
                "InlineSkate",
                "Kayaking",
                "Kitesurf",
                "MountainBikeRide",
                "NordicSki",
                "OpenWaterSwim",
                "Padel",
                "Pilates",
                "Pickleball",
                "Racquetball",
                "Rugby",
                "RockClimbing",
                "RollerSki",
                "Rowing",
                "Sail",
                "Skateboard",
                "Snowboard",
                "Snowshoe",
                "Soccer",
                "Squash",
                "StairStepper",
                "StandUpPaddling",
                "Surfing",
                "TableTennis",
                "Tennis",
                "TrailRun",
                "Transition",
                "Velomobile",
                "VirtualRide",
                "VirtualRow",
                "VirtualRun",
                "VirtualSki",
                "WaterSport",
                "Wheelchair",
                "Windsurf",
                "Workout",
                "Yoga",
                "Other"
              ]
            }
          },
          {
            "name": "fatigue",
            "in": "query",
            "description": "Use kj0 or kj1 to get one of the athlete's predefined fatigued power curves",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityPowerCurvePayload"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/athlete/{id}/activity-pace-curves{ext}": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get best pace for a range of distances for matching activities in the date range",
        "description": "Use ext of .csv to get results in CSV format",
        "operationId": "listActivityPaceCurves",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ext",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oldest",
            "in": "query",
            "description": "Local ISO-8601 date or date and time e.g. 2019-07-22T16:18:49 or 2019-07-22",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "newest",
            "in": "query",
            "description": "Local ISO-8601 date or date and time (inclusive)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The sport (Ride, Run etc.). If filters is not provided or is blank or does not contain a type filter then activities for the types of the sport matching this parameter are included",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Ride",
                "Run",
                "Swim",
                "WeightTraining",
                "Hike",
                "Walk",
                "AlpineSki",
                "BackcountrySki",
                "Badminton",
                "Canoeing",
                "Crossfit",
                "EBikeRide",
                "EMountainBikeRide",
                "Elliptical",
                "Golf",
                "GravelRide",
                "TrackRide",
                "Handcycle",
                "HighIntensityIntervalTraining",
                "Hockey",
                "IceSkate",
                "InlineSkate",
                "Kayaking",
                "Kitesurf",
                "MountainBikeRide",
                "NordicSki",
                "OpenWaterSwim",
                "Padel",
                "Pilates",
                "Pickleball",
                "Racquetball",
                "Rugby",
                "RockClimbing",
                "RollerSki",
                "Rowing",
                "Sail",
                "Skateboard",
                "Snowboard",
                "Snowshoe",
                "Soccer",
                "Squash",
                "StairStepper",
                "StandUpPaddling",
                "Surfing",
                "TableTennis",
                "Tennis",
                "TrailRun",
                "Transition",
                "Velomobile",
                "VirtualRide",
                "VirtualRow",
                "VirtualRun",
                "VirtualSki",
                "WaterSport",
                "Wheelchair",
                "Windsurf",
                "Workout",
                "Yoga",
                "Other"
              ]
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Only return activities matching all the filters in this list",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ActivityFilter"
              }
            }
          },
          {
            "name": "distances",
            "in": "query",
            "description": "Distances required (in meters, comma separated)",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "float"
              }
            }
          },
          {
            "name": "gap",
            "in": "query",
            "description": "Return gradient adjusted pace curves",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/athlete/{id}/activity-hr-curves{ext}": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get best HR for a range of durations for matching activities in the date range",
        "description": "Use ext of .csv to get results in CSV format",
        "operationId": "listActivityHRCurves",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ext",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oldest",
            "in": "query",
            "description": "Local ISO-8601 date or date and time e.g. 2019-07-22T16:18:49 or 2019-07-22",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "newest",
            "in": "query",
            "description": "Local ISO-8601 date or date and time (inclusive)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Only return activities matching all the filters in this list",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ActivityFilter"
              }
            }
          },
          {
            "name": "secs",
            "in": "query",
            "description": "Optional durations to return (default is all, in seconds comma separated)",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The sport (Ride, Run etc.). If filters is not provided or is blank or does not contain a type filter then activities for the types of the sport matching this parameter are included",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Ride",
                "Run",
                "Swim",
                "WeightTraining",
                "Hike",
                "Walk",
                "AlpineSki",
                "BackcountrySki",
                "Badminton",
                "Canoeing",
                "Crossfit",
                "EBikeRide",
                "EMountainBikeRide",
                "Elliptical",
                "Golf",
                "GravelRide",
                "TrackRide",
                "Handcycle",
                "HighIntensityIntervalTraining",
                "Hockey",
                "IceSkate",
                "InlineSkate",
                "Kayaking",
                "Kitesurf",
                "MountainBikeRide",
                "NordicSki",
                "OpenWaterSwim",
                "Padel",
                "Pilates",
                "Pickleball",
                "Racquetball",
                "Rugby",
                "RockClimbing",
                "RollerSki",
                "Rowing",
                "Sail",
                "Skateboard",
                "Snowboard",
                "Snowshoe",
                "Soccer",
                "Squash",
                "StairStepper",
                "StandUpPaddling",
                "Surfing",
                "TableTennis",
                "Tennis",
                "TrailRun",
                "Transition",
                "Velomobile",
                "VirtualRide",
                "VirtualRow",
                "VirtualRun",
                "VirtualSki",
                "WaterSport",
                "Wheelchair",
                "Windsurf",
                "Workout",
                "Yoga",
                "Other"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityHRCurvePayload"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/athlete/{id}/activities/search-full": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Search for activities by name or tag, returns full activities",
        "operationId": "searchForActivitiesFull",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search query, case insensitive name search or exact tag search if it starts with #",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Activity"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/athlete/{id}/activities/search": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Search for activities by name or tag, returns summary info",
        "operationId": "searchForActivities",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search query, case insensitive name search or exact tag search if it starts with #",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivitySearchResult"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/athlete/{id}/activities/interval-search": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Find activities with intervals matching duration and intensity",
        "description": "Activities returned most recent first",
        "operationId": "searchForIntervals",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minSecs",
            "in": "query",
            "description": "Min time in seconds",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "maxSecs",
            "in": "query",
            "description": "Max time in seconds",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "minIntensity",
            "in": "query",
            "description": "Min intensity percentage",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "maxIntensity",
            "in": "query",
            "description": "Max intensity percentage",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Interval type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "AUTO",
                "POWER",
                "HR",
                "PACE"
              ]
            }
          },
          {
            "name": "minReps",
            "in": "query",
            "description": "Min number of intervals that need to match",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "maxReps",
            "in": "query",
            "description": "Max number of intervals that need to match",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 999999
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results to return",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Activity"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/athlete/{id}/activities.csv": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Download activities as CSV",
        "operationId": "downloadActivitiesAsCSV",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/athlete/{id}/activities-around": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "List activities before and after another activity in closest first order",
        "description": "An empty stub object is returned for Strava activities",
        "operationId": "listActivitiesAround",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "activity_id",
            "in": "query",
            "description": "The activity at the center (not returned in the data set)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "route_id",
            "in": "query",
            "description": "Only return activities on this route (activityId must have this route_id)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Return at most this many activities (default 30)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Activity"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/athlete/{athleteId}/activities/{ids}": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Fetch multiple activities by id. Missing activities are ignored",
        "description": "Strava activities are returned as empty stubs",
        "operationId": "getActivities",
        "parameters": [
          {
            "name": "athleteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "intervals",
            "in": "query",
            "description": "Include interval data (icu_intervals and icu_groups fields)",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Activity"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activity/{id}/weather-summary": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get activity weather summary information",
        "operationId": "getActivityWeatherSummary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "description": "Optional index of first point in activity to use",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "end_index",
            "in": "query",
            "description": "Optional index of last point in activity to use (exclusive)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityWeatherSummary"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activity/{id}/time-at-hr": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get activity time at heart rate data",
        "operationId": "getTimeAtHR",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Plot"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activity/{id}/streams{ext}": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "List streams for the activity",
        "description": "Note that this endpoint will return 'fixed_watts' as 'watts'. If 'raw_watts' is asked for or types is null then the 'watts' stream is renamed to 'raw_watts'. If ext is .csv then CSV data is returned instead of JSON",
        "operationId": "getActivityStreams",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ext",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "types",
            "in": "query",
            "description": "Streams required",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "includeDefaults",
            "in": "query",
            "description": "Include default streams in addition to any specified in types",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityStream"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activity/{id}/segments": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get activity segments",
        "operationId": "getActivitySegments",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IcuSegment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activity/{id}/power-vs-hr{ext}": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get activity power vs heart rate data in JSON or CSV (use .csv ext) format",
        "operationId": "getPowerVsHR",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ext",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PowerVsHRPlot"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activity/{id}/power-spike-model": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get activity power spike detection model",
        "operationId": "getActivityPowerSpikeModel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PowerModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activity/{id}/power-histogram": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get activity power histogram",
        "operationId": "getPowerHistogram",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bucketSize",
            "in": "query",
            "description": "Watts per bucket (default 25)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Bucket"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activity/{id}/power-curve{ext}": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get activity power curve in JSON or CSV (use .csv ext) format",
        "operationId": "getActivityPowerCurve",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ext",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fatigue",
            "in": "query",
            "description": "Use kj0 or kj1 to get one of the athlete's predefined fatigued power curves",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PowerCurve"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activity/{id}/power-curves{ext}": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get activity power curves for one or more streams in JSON or CSV (use .csv ext) format",
        "operationId": "listActivityPowerCurves_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ext",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "types",
            "in": "query",
            "description": "Comma separated list of streams required (default is watts)",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fatigue",
            "in": "query",
            "description": "Comma separated list of normal, kj0 or kj1 to return normal and/or fatigued curves",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PowerCurve"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activity/{id}/pace-histogram": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get activity pace histogram",
        "operationId": "getPaceHistogram",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Bucket"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activity/{id}/pace-curve{ext}": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get activity pace curve in JSON or CSV (use .csv ext) format",
        "operationId": "getActivityPaceCurve",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gap",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "ext",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PaceCurve"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activity/{id}/map": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get activity map data",
        "operationId": "getActivityMap",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bounds",
            "in": "query",
            "description": "Optional comma separated bounding box (left, top, right, bottom) to limit points returned",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "float"
              }
            }
          },
          {
            "name": "boundsOnly",
            "in": "query",
            "description": "Only return the map bounds, not the latlngs",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "weather",
            "in": "query",
            "description": "Include weather points if available",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MapData"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activity/{id}/interval-stats": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Return interval like stats for part of the activity",
        "operationId": "getIntervalStats",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "end_index",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Interval"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activity/{id}/hr-load-model": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get activity heart rate training load model",
        "operationId": "getHRTrainingLoadModel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HRLoadModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activity/{id}/hr-histogram": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get activity heart rate histogram",
        "operationId": "getHRHistogram",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bucketSize",
            "in": "query",
            "description": "Beats per bucket (default 5)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Bucket"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activity/{id}/hr-curve{ext}": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get activity heart rate curve in JSON or CSV (use .csv ext) format",
        "operationId": "getActivityHRCurve",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ext",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HRCurve"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activity/{id}/gpx-file": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Download Intervals.icu generated activity gpx file",
        "description": "Not supported for Strava activities and activities without GPS data",
        "operationId": "downloadActivityGpxFile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "power",
            "in": "query",
            "description": "Include power data",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "hr",
            "in": "query",
            "description": "Include heart rate data",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/activity/{id}/gap-histogram": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get activity gradient adjusted pace histogram",
        "operationId": "getGapHistogram",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Bucket"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activity/{id}/fit-file": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Download Intervals.icu generated activity fit file",
        "description": "Not supported for Strava activities",
        "operationId": "downloadActivityFitFile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "power",
            "in": "query",
            "description": "Include power data",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "hr",
            "in": "query",
            "description": "Include heart rate data",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/activity/{id}/file": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Download original activity file, Strava activities not supported",
        "operationId": "downloadActivityFile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/activity/{id}/best-efforts": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Find best efforts in the activity",
        "description": "One of duration or distance is required",
        "operationId": "findBestEfforts",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stream",
            "in": "query",
            "description": "Stream to search",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "duration",
            "in": "query",
            "description": "Duration of each effort in seconds",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "distance",
            "in": "query",
            "description": "Distance of each effort in meters",
            "required": false,
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of efforts to return",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 8
            }
          },
          {
            "name": "minValue",
            "in": "query",
            "description": "Minimum average value for each interval, intervals will expand if specified",
            "required": false,
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "excludeIntervals",
            "in": "query",
            "description": "If true portions of the stream that are included in work intervals are not considered",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "First point in stream to consider",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "endIndex",
            "in": "query",
            "description": "Last point in stream to consider (exclusive, default is whole stream)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BestEfforts"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AthleteSearchResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "profile_medium": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "sex": {
            "type": "string"
          },
          "bio": {
            "type": "string"
          },
          "website": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "AthleteRoute": {
        "type": "object"
      },
      "ActivityFilter": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "field_id": {
            "type": "string",
            "enum": [
              "type",
              "indoor",
              "name",
              "notName",
              "description",
              "moving_time",
              "elapsed_time",
              "coasting_time",
              "distance",
              "climbing",
              "load",
              "source",
              "race",
              "average_heartrate",
              "max_heartrate",
              "hrrc",
              "average_power",
              "norm_power",
              "pace",
              "gap",
              "average_speed",
              "max_speed",
              "variability_index",
              "intensity",
              "average_cadence",
              "average_cadence_z2",
              "average_temp",
              "calories",
              "work",
              "work_above_ftp",
              "max_wbal_depletion",
              "efficiency",
              "power_hr",
              "power_hr_z2",
              "power_hr_z2_mins",
              "rpe",
              "feel",
              "session_rpe",
              "kg_lifted",
              "power_meter",
              "power_meter_serial",
              "gear_name",
              "trimp",
              "custom",
              "tags",
              "device_name",
              "compliance",
              "polarization_index",
              "day_of_week",
              "average_altitude",
              "min_altitude",
              "max_altitude",
              "start_time",
              "route_id"
            ]
          },
          "code": {
            "type": "string"
          },
          "operator": {
            "type": "string"
          },
          "value": {
            "type": "object"
          },
          "not": {
            "type": "boolean"
          }
        }
      },
      "PowerModel": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "MS_2P",
              "MORTON_3P",
              "FFT_CURVES",
              "ECP"
            ]
          },
          "criticalPower": {
            "type": "integer",
            "format": "int32"
          },
          "wPrime": {
            "type": "integer",
            "format": "int32"
          },
          "pMax": {
            "type": "integer",
            "format": "int32"
          },
          "inputPointIndexes": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "ftp": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "UpdateStreamsResult": {
        "type": "object",
        "properties": {
          "updated": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "deleted": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ActivityStream": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "data": {
            "type": "object"
          },
          "data2": {
            "type": "object"
          },
          "valueTypeIsArray": {
            "type": "boolean"
          },
          "anomalies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Anomaly"
            }
          },
          "custom": {
            "type": "boolean"
          },
          "allNull": {
            "type": "boolean"
          }
        }
      },
      "Anomaly": {
        "type": "object",
        "properties": {
          "start_index": {
            "type": "integer",
            "format": "int32"
          },
          "end_index": {
            "type": "integer",
            "format": "int32"
          },
          "value": {
            "type": "integer",
            "format": "int32"
          },
          "valueEnd": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "Interval": {
        "type": "object",
        "properties": {
          "start_index": {
            "type": "integer",
            "format": "int32"
          },
          "distance": {
            "type": "number",
            "format": "float"
          },
          "moving_time": {
            "type": "integer",
            "format": "int32"
          },
          "elapsed_time": {
            "type": "integer",
            "format": "int32"
          },
          "average_watts": {
            "type": "integer",
            "format": "int32"
          },
          "average_watts_alt": {
            "type": "integer",
            "format": "int32"
          },
          "average_watts_alt_acc": {
            "type": "integer",
            "format": "int32"
          },
          "min_watts": {
            "type": "integer",
            "format": "int32"
          },
          "max_watts": {
            "type": "integer",
            "format": "int32"
          },
          "average_watts_kg": {
            "type": "number",
            "format": "float"
          },
          "max_watts_kg": {
            "type": "number",
            "format": "float"
          },
          "intensity": {
            "type": "integer",
            "format": "int32"
          },
          "w5s_variability": {
            "type": "number",
            "format": "float"
          },
          "weighted_average_watts": {
            "type": "integer",
            "format": "int32"
          },
          "training_load": {
            "type": "number",
            "format": "float"
          },
          "joules": {
            "type": "integer",
            "format": "int32"
          },
          "joules_above_ftp": {
[...]
